.reminder-input {
  width: 100%;
}

.reminder-input-div {
  display: flex;
  flex-direction: row;
}

.reminder-save {
  display: flex;
  align-items: center;
}

.reminder-table-element {
  width: 100%;
}
