<mat-card>
  <mat-card-title>Anmelden</mat-card-title>
  <mat-card-content>
    <div [formGroup]="loginForm" class="login-form">
      <mat-form-field>
        <input matInput #username_input formControlName="username" placeholder="Nutzername">
        <mat-hint align="end">{{username_input.value?.length || 0}}/30</mat-hint>
        <mat-error *ngIf="loginForm.controls.username.invalid">{{getErrorMessageUsername()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #password_input formControlName="password" placeholder="Passwort"
               [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{password_input.value?.length || 0}}/30</mat-hint>
        <mat-error *ngIf="loginForm.controls.password.invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="loginForm.invalid" (click)="onSave()">Anmelden</button>
    <span></span>
    <button mat-button routerLink="/registration">Noch keinen Account?</button>
  </mat-card-actions>
</mat-card>
