<mat-card>
  <mat-card-title>Passwort ändern</mat-card-title>
  <mat-card-content>
    <div [formGroup]="changePasswordForm" class="change-password-form">
      <mat-form-field>
        <input matInput #username_readonly [value]="(username | async)" readonly>
      </mat-form-field>
      <mat-form-field>
        <input matInput #old_password formControlName="oldPassword" placeholder="Altes Passwort"
               [type]="oldHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="oldHide = !oldHide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="oldHide">
          <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{old_password.value?.length || 0}}/30</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.oldPassword.invalid">{{getErrorMessageOldPassword()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #new_password formControlName="newPassword" placeholder="Neues Passwort"
               [type]="newHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="newHide = !newHide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="newHide">
          <mat-icon>{{newHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{new_password.value?.length || 0}}/30</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.newPassword.invalid">{{getErrorMessageNewPassword()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput #password_confirmation_input formControlName="newPasswordConfirmation"
               placeholder="Passwort bestätigen"
               [type]="newHideConfirmation ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="newHideConfirmation = !newHideConfirmation"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="newHideConfirmation">
          <mat-icon>{{newHideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{password_confirmation_input.value?.length || 0}}/30</mat-hint>
        <mat-error *ngIf="changePasswordForm.controls.newPasswordConfirmation.invalid">
          {{getErrorMessageNewConfirmationPassword()}}
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [disabled]="changePasswordForm.invalid"
            (click)="changePassword(username_readonly.value, old_password.value, new_password.value)">Passwort ändern
    </button>
    <span class="fill"></span>
    <button mat-button routerLink="/reminder">Abbrechen</button>
  </mat-card-actions>
</mat-card>
